.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.nav-links {
    display: none;
}

@media (max-width: 768px) {

    /* Navbar section  */

    .navbar-container {
        display: flex;
        justify-content: space-between;
        gap: 125px;
    }

    .nav-desktop {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 0px;
        left: 0;
        width: 335px;
        background-color: #FDF0E9;
        padding: 20px;
        z-index: 999;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        height: 840px;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .navbar-container button {
        display: none;
    }

    .menu-toggle {
        display: block;
        border: 1px solid #fff;
        padding: 6px;
        color: #fff;
        cursor: pointer;
    }

    .nav-header {
        background: black;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .nav-header i {
        position: relative;
        left: 135px;
        bottom: 10px;
        font-size: 30px;
    }

    .nav-links a {
        color: #000;
        text-align: left;
        text-decoration: none;
        margin: 10px 0px;
        font-size: 22px;
    }

    /* Hero Section */

    .hero {
        padding: 0px;
    }

    .hero-inner {
        flex-direction: column;
        padding: 25px;
    }

    .hero-right {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .hero-title {
        font-size: 56px;
    }

    .hero-desc {
        font-size: 16px;
    }

    .hero-image {
        max-width: 329px;
        height: 334px;
    }

    .hero-left {
        order: 2;
        max-width: 100%;
        text-align: left;
    }

    .hero-buttons {
        flex-direction: row;
        align-items: left;
    }

    .testimonial {
        order: 3;
        flex-direction: row;

        text-align: left;
    }

    .testimonial img {
        margin-bottom: 12px;
    }

    /* Logo grid Section */

    .logo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .logo-grid img:nth-last-child(1):nth-child(odd) {
        grid-column: span 2;
        justify-self: center;
    }

    /* About Section */

    .about-section {
        padding: 60px 24px;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 40px;
    }

    .about-left {
        text-align: center;
    }

    .about-right {
        text-align: left;
        width: 100%;
    }

    .title {
        font-size: 40px;
        line-height: 48px;
    }

    .description,
    .author-info .quote {
        font-size: 15px;
        line-height: 28px;
    }

    /* Work Section */

    .work-section {
        padding: 60px 24px;
    }

    .stats-row {
        flex-direction: column;

    }

    .stats-row .stat {
        width: 80%;
        text-align: left;
    }

    .work-content {
        flex-direction: column;
        gap: 40px;
    }

    .work-left h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .work-left .desc,
    .work-points li span {
        font-size: 22px;
        line-height: 28px;
    }

    .work-points li strong {
        font-size: 57px;
        line-height: 60px;
    }

    .work-right {
        margin-top: 20px;
    }

    /* Video section  */

    .video-reel-section {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .video-content {
        text-align: left;
        margin-left: 0px;
    }

    .video-title {
        font-size: 40px;
        line-height: 48px;
    }

    .video-play-btn img {
        width: 120px;
        height: 120px;
    }

    .video-label {
        font-size: 16px;
        line-height: 32px;
    }

    /* Portfolio section  */

    .portfolio-title {
        font-size: 36px;
        line-height: 44px;
    }

    .portfolio-tabs {
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 40px;
    }

    .portfolio-tabs button {
        font-size: 14px;
    }

    .portfolio-section .desktop-tabs {
        display: none;
    }

    .portfolio-section .mobile-tabs {
        display: block;
    }

    .portfolio-grid {
        flex-direction: column;
        gap: 24px;
        padding: 0 10px;
    }

    .portfolio-item {
        width: 100%;
    }

    .portfolio-tag {
        bottom: 70px;
        font-size: 13px;
    }

    .portfolio-name {
        bottom: 16px;
        font-size: 20px;
        line-height: 28px;
    }

    .portfolio-button {
        width: 100%;
        max-width: 200px;
    }

    /* Get Started Section  */

    .get-started {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 20px;
        height: auto;
        margin: 60px 20px;
        gap: 30px;
    }

    .gift-icon {
        position: relative;
        bottom: 0px;
        width: 150px;
        height: 150px;
        top: -110px;
        left: 5px;
    }

    .get-started-content {
        max-width: 100%;
        margin-top: -110px;
    }

    .get-started-heading {
        font-size: 20px;
        line-height: 28px;
    }

    .get-started-button {
        width: 100%;
        max-width: 200px;
    }

    .get-started-visual {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .ui-card {
        width: 100%;
        max-width: 350px;
        height: auto;
        margin-left: 80px;
    }

    .model-image {
        width: 200px;
        height: auto;
        margin-bottom: -40px;
    }

    .path-shape {
        display: none;
    }

    /* Testimonial Section  */

    .testimonial-section {
        padding: 40px 20px;
        text-align: left;
    }

    .team-heading {
        font-size: 32px;
        line-height: 40px;
    }

    .arrows {
        display: none;
    }

    .team-grid-wrapper {
        display: block;
        margin: 0 -20px;
        padding: 0 20px;
    }

    .team-grid {
        flex-wrap: nowrap;
    }

    .team-card {
        padding: 16px;
        max-width: 70%;
        height: 330px;
    }

    .team-photo {
        height: 255px;
    }

    .team-name,
    .team-role {
        text-align: center;
    }

    /* Pricing Section  */

    .pricing-section {
        padding: 60px 20px;
        text-align: left;
    }

    .pricing-section .section-heading {
        width: auto;
        font-size: 36px;
        margin-bottom: 40px;
    }

    .pricing-section .pricing-cards {
        flex-direction: column;
    }

    .pricing-section .card {
        flex: 1 1 100%;
        max-width: 90%;
        height: auto;
        padding: 30px 20px;
        border-radius: 12px;
    }

    .pricing-section .card+.card {
        border-top: 1px solid #F3D1BF;
    }

    .pricing-section .card.popular {
        margin-top: 0;
        height: auto;
    }

    /* FAQs Section  */

    .faq-section {
        flex-direction: column;
        padding: 60px 6%;
    }

    .faq-left,
    .faq-right {
        width: 100%;
    }

    .faq-left h3 {
        font-size: 32px;
        line-height: 40px;
        width: 100%;
    }

    .faq-left p {
        width: 100%;
        font-size: 15px;
        line-height: 28px;
    }

    .faq-right h4 {
        font-size: 22px;
    }

    .faq-right span {
        width: 28px;
        height: 28px;
    }

    .faq-question {
        padding: 20px;
    }

    .faq-answer {
        padding: 0 20px 20px 20px;
    }

    /* Get in Touch Section  */

    .get-in-touch-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        padding: 24px 16px;
        position: relative;
        background-color: #FFEFE6;
        width: 343px;
    }

    .contact-box {
        position: relative;
        width: 90%;
        height: auto;
        top: 0;
        left: 0;
        padding: 24px;
        box-sizing: border-box;
        margin: 70px 0px;
        z-index: 2;
        background: white;
    }

    .map-bg {
        position: relative;
        width: 376px;
        height: 430px;
        object-fit: cover;
        z-index: 1;
    }

    .location-span {
        position: absolute;
        top: 830px;
        left: 160px;
        width: 50px;
        height: 50px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        background: #EF6D58;
        color: #fff;
        border-radius: 50%;
    }

    .location-icon {
        margin: 0;
        font-size: 20px;
    }

    .submit-btn {
        position: relative;
        width: 100%;
        left: 0px;
        top: 5px;
    }

    /* Footer Section  */

    .footer-section {
        padding: 60px 20px 40px 20px;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .footer-brand h4 {
        font-size: 20px;
        line-height: 28px;
    }

    .footer-column {
        width: 100%;
        text-align: center;
    }

    .footer-column h5 {
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 8px;
    }

    .footer-column ul li {
        font-size: 14px;
        line-height: 28px;
    }

    .footer-social {
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
    }

    .footer-divider {
        width: 100%;
        margin: 30px 0;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 16px;
        font-size: 16px;
    }

    .footer-links {
        flex-direction: row;
        gap: 45px
    }
}

@media (max-width: 480px) {

    /* Portfolio Section  */

    .portfolio-title {
        font-size: 40px;
        line-height: 48px;
    }

    .portfolio-subtitle {
        font-size: 16px;
        line-height: 32px;
    }

    .portfolio-name {
        font-size: 18px;
    }

    .portfolio-tag {
        font-size: 12px;
    }

    /* Pricing Section  */

    .pricing-section .section-heading {
        font-size: 28px;
    }

    .pricing-section .card h3 {
        font-size: 32px;
    }

    .pricing-section .btn {
        width: 45%;
        font-size: 14px;
    }
}